@charset "UTF-8";

/*
    Paçeta de Cores (do original):
    Verde: #49a09d
    Lilaz: #5f2c82
*/

/*
    Paçeta de Cores (meu):
    Preto: #00090D
    azul: #011F26
    Cinza: #B9B8BF
    Amarelo: #F28705
*/

*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body,html{
    background-color: #011F26;
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login{
    background-color: white;
    width: 280px;
    height: 530px;
    overflow: hidden; /* Util*/

    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 20px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.495);

    transform: translate(-50%,-50%);
    transition: width 0.7s, heigth 0.7s;
    transition-timing-function: ease;
}

section#login > div#imagem{
    display: block;
    background-image: url(../imagens/pexels-dinnow-86001860-9444476.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 220px;
}

section#login > div#formulário{
    display: block;
    padding: 10px;
}

form > p.enviar{
    background-color: #B9B8BF;
    display: block;
    height: 40px;
    width: 100%;
    border-radius: 8px;
    margin: 5px 0px;
}

p.enviar >label {
    display: none;
}

p.enviar > span {

    font-size: 2em;
    padding: 5px;
    width: 40px;
}

p.enviar > input {
    background-color: #2fb6d897;
    font-size: 1em;
    width: calc(100% - 45px);
    height: 100%;
    border: none;
    border-radius: 8px;
    transform: translateY(-10px);
}

p.enviar >input:focus-within{
    background-color: white;
}

div#formulário > h1{
    text-align: center;
    margin-bottom: 10px;
}

div#formulário > p{
    font-size: 0.8em;
}

form > p > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 35px;
    background-color: #104e5e;
    color: white;
    margin-top: 7px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > p > input[type=submit]:hover {
    background-color: #060d0e;
    font-size: 1.1em;
}

form > p > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 30px;
    text-decoration: none;
    color: white;
    background-color: #1c788f;
    border: none;
    border-radius: 5px;
    margin-top: 7px;
    padding: 3px;
}

form > p > a:hover {
    background-color: #060d0e;
    font-size: 1.1em;
}